body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    background-color: #fafafa;
}

.header {
    padding: 50px 50px 20px 50px;
    text-align: center
}

h1 {
    font-size: 5.0em;   
}

.links {
    text-align: center;
    color: #222;
}

.links i {
    font-size:50px;
    margin: 0 20px;
}
